<div fxFlex>
  <div fxLayout="column">
    <div fxFlex.lg="20"></div>
    <div fxFlex.lg="60">
      <!-- <div></div> -->
      <div fxLayout="row">
        <div fxFlex.lg="15"></div>
        <div fxFlex.lg="70" class="card-div">
          <mat-card>
            <mat-card-title fxLayoutAlign="center center" class="login-title">REGISTRATION</mat-card-title>
            <form class="my-form">
              <mat-form-field class="full-width">
                <mat-label>First Name</mat-label>
                <input autocomplete="off" class="full-width" matInput placeholder="First name" [formControl]="firstName" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessageFirstName()}}</mat-error>
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-label>Last Name</mat-label>
                <input autocomplete="off" class="full-width" matInput placeholder="Last Name" [formControl]="lastName" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessageLastName()}}</mat-error>
              </mat-form-field>
              <mat-form-field class="full-width">
                  <mat-label>Username</mat-label>
                  <input autocomplete="off" class="full-width" matInput placeholder="Username" [formControl]="username" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessageUsername()}}</mat-error>
                </mat-form-field>
              <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input autocomplete="off" class="full-width" matInput placeholder="Email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input type="password" autocomplete="off" class="full-width" matInput placeholder="Password" [formControl]="password" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessagePassword()}}</mat-error>
              </mat-form-field>
            </form>
            <div fxLayout="coloumn" fxLayoutAlign="center center">
              <div class="div-button"><button class="button-registration" mat-raised-button color="primary" (click)="register()" >REGISTRATION</button></div>
              <div class="div-button"><button class="button-login" mat-raised-button color="primary" (click)="login()" >LOGIN</button></div>
            </div>
          </mat-card>
        </div>
        <div fxFlex.lg="15"></div>
      </div>
      <!-- <div></div> -->
    </div>
    <div fxFlex.lg="20"></div>
  </div>
</div>
