<div fxFlex>
  <div fxFlex.lg="25%"></div>
  <div fxFlex.lg="50" fxLayout="column">
    <div fxFlex.lg="30"></div>
    <div fxLayout="row" fxFlex.lg="40">
      <div fxFlex.lg="15"></div>
      <div fxFlex.lg="70">
        <mat-card class="my-card">
          <mat-card-title fxLayoutAlign="center center" class="login-title">LOGIN</mat-card-title>
          <mat-card-content>
            <form class="my-form">
              <mat-form-field class="full-width">
                <mat-label>Username</mat-label>
                <input autocomplete="off" matInput placeholder="Username" name="Username">
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input autocomplete="off" matInput placeholder="Password" name="password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <div fxLayout="column" fxLayoutAlign="center center">
              <div class="button">
                <button mat-raised-button class="width-button" (click)="login()" color="primary">LOGIN</button>
              </div>
              <div class="button">
                <button mat-raised-button class="width-button" (click)="registration()" color="primary">REGISTRATION</button>
              </div>
            </div>
            <div class="forgot-password">
              <a href="">Forgot Password</a>
            </div>

          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex.lg="15"></div>
    </div>
    <div fxFlex.lg="30"></div>
  </div>
  <div fxFlex.lg="25%"></div>
</div>
